{% extends 'base.html' %}

{% block header_extend %}
{% endblock %}

{% block title %}
    创建单词集
{% endblock %}

{% block content %}
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <h2>创建单词集</h2>
        <form action="{% url 'update_word_set' %}" method="POST">
            {% csrf_token %}
            <ul>
                <li><span>{{ word_form.word_set.label }}:</span>{{ word_form.word_set}}</li>
                <li><span>{{ word_form.add_word.label }}:</span>{{ word_form.add_word }}</li>
            </ul>
            <button class="btn-primary" type="submit">提交</button>
        </form>
    </div>
{% endblock %}