{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/base.css' %}">
    <script src="{% static 'blog/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'blog/bootstrap.min.js' %}"></script>

    <!-- Custom styles for this template -->
  </head>
  {% block header_extend %} {% endblock %}
  <body>
    <div class="Wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#navbar">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">漫步blog</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul id="navName" class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">首页</a></li>
                    <li><a href="{% url 'blog_list' %}">博客</a></li>
                    <li><a href="{% url 'word_list' %}">单词</a></li>
                    <li>
                        <a id="dLabel"   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                            <span id="tool" style="cursor: pointer">小工具</span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="{% url 'grid_system' %}">兜兜</a></li>
                            <li><a  href="#">敬请期待</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'leave_message' %}">留言</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
{#                    <li>#}
{#                        <a class="music-icon" href="#" data-toggle="dropdown"><span class="glyphicon glyphicon-music"></span></a>#}
{#                        <div class="dropdown-menu">#}
{#                            <div>#}
{#                                <iframe frameborder="no" border="0"  marginwidth="0" marginheight="0" width=330 height=450 src="//music.163.com/outchain/player?type=0&id=123474828&auto=0&height=430"></iframe>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
                    {% if request.user.is_authenticated %}
                        <li class="login-info">{{ request.user.username }}</li>
                        <li class="login-info">
                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
                                {% if request.user.is_superuser %}
                                    <li><a href="/admin">管理员</a></li>
                                {% endif %}
                                <li><a href="{% url 'self_info' %}">个人资料</a></li>
                                <li><a href="{% url 'logout' %}">退出</a></li>
                            </ul>
                        </li>

                    {% else %}
                        <li class="login-info">你好</li>
                        <li class="login-info">
                            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                            <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dLabel">
{#                                <li><a data-target="#login" data-toggle="modal">登录</a></li>#}
                                <li><a href="{% url 'login' %}">登录</a></li>
                                <li><a href="{% url 'register' %}">注册</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>

        <div class="container" style="margin-top: 80px;">
          {% block content %}{% endblock %}
        </div><!-- /.container -->
        {% block script_extend %}
            <script type="text/javascript">
                $(function () {
                    var path = window.location.pathname;
                    var root = path.split('/')[1];
                    console.log(root);
                    if(root=='') {
                        $('#navName>li:nth-child(1)').addClass('active');
                    }
                    else if(root=='blog') {
                        $('#navName>li:nth-child(2)').addClass('active');
                    }
                    else if(root=='word'){
                        $('#navName>li:nth-child(3)').addClass('active');
                    }
                    else if(root=='message'){
                        $('#navName>li:nth-child(5)').addClass('active');
                    }
                    else if(root=='doudou'){
                        $('#tool').css('color','#ffffff');
                    }
                    {#(window.location.pathname)#}
                })
            </script>
        {% endblock %}
    </div>
    <div class="FooterPush"></div>
    <div id="foot-box">
        <div class="Footer">
            <p align="center">Copyright ©2018 manbu</p>
        </div>
    </div>

  <!-- modal login -->
{#    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">#}
{#        <div class="modal-dialog" role="document">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#                <h4 class="modal-title" id="exampleModalLabel">登录</h4>#}
{#            </div>#}
{#            <div class="modal-body">#}
{#              <form class='form-login' action="{% url 'login' %}" method="post">#}
{#                  <h2 class="text-center">欢迎登录</h2>#}
{#                  {% if message %}#}
{#                      <div class="alert alert-warning">{{ message }}</div>#}
{#                  {% endif %}#}
{#                  {% csrf_token %}#}
{#                  <div class="form-group">#}
{#                      {{ login_form.username.label_tag }}#}
{#                      {{ login_form.username}}#}
{#                  </div>#}
{#                  <div class="form-group">#}
{#                      {{ login_form.password.label_tag }}#}
{#                      {{ login_form.password }}#}
{#                  </div>#}
{##}
{#                  <div class="form-group">#}
    {#                  {{ login_form.captcha.errors }}#}
{#                      {{ login_form.captcha.label_tag }}#}
{#                      {{ login_form.captcha }}#}
{#                      <a href="">看不清</a>#}
{#                  </div>#}
{#                  <div class="modal-footer">#}
{#                      <button type="reset" class="btn btn-default pull-left">重置</button>#}
{#                      <button type="submit" class="btn btn-primary pull-right">提交</button>#}
{#                  </div>#}
{##}
{#              </form>#}
{##}
{#            </div>#}
{#        </div>#}
{#        </div>#}
{#    </div>#}
  </body>
</html>