table thead tr th {
    min-width: 4em;
}

#btnAudio{
    width: 15px;
    height: 15px;
    background:url("../images/stop.png") no-repeat center bottom;
    background-size:cover;
    cursor: pointer;
    display: inline-block;
}


div.function-area>ul>li{
    display: inline-block;
    margin-right: 1em;
}

.breadcrumb{
    text-align: left;
}