{% extends 'base.html'  %}

{% block title %}
    验证用户
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <div class="login-area">
            <h2 class="text-center" >验证用户</h2>
            <ul class="register-area">
                <form action="" method="POST" >
                    {% if message %}
                        <div class="alert alert-warning">{{ forget_password_form.errors }}</div>
                    {% endif %}

                    {% csrf_token %}
                    <div class="form-group">
                        {{ forget_password_form.username.label_tag }}
                        {{ forget_password_form.username}}
                    </div>
                    <div class="form-group">
                        {{ forget_password_form.email.label_tag }}
                        {{ forget_password_form.email}}
                    </div>
                    <div class="form-group">
{#                        {{ forget_password_form.captcha.errors }}#}
                        {{ forget_password_form.captcha.label_tag }}
                        {{ forget_password_form.captcha }}
                        <a class="captcha">刷新</a>
                    </div>

                    <button type="reset" class="btn btn-default pull-left">重置</button>
                    <button type="submit" class="btn btn-primary pull-right">提交</button>
                </form>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block script_extend %}
    <script type="text/javascript">
        $(function(){
        $('.captcha').css({
            'cursor': 'pointer'
        });
        $('.captcha').click(function flush(){
            console.log('click');
             $.getJSON("/captcha/refresh/", function(result){
                 $('.captcha').attr('src', result['image_url']);
                 $('#id_captcha_0').val(result['key']);
                 return false
                });
            });
        });
    </script>
{% endblock %}